# spigot
logs
timings
cache
versions
libraries

# plugins
userdata
*.sqlite

# files
.console_history

usercache.json
banned-ips.json
banned-players.json
commands.yml
help.yml
ops.json
permissions.yml
version_history.json
wepif.yml
whitelist.json
