# spigot
logs
timings
cache
versions
libraries
eula.txt

# plugins
userdata
*.sqlite

# files
.console_history
usercache.json
version_history.json

# world
world
world_nether
world_the_end

# executable
*.sh
*.jar
